.row {
	display: flex;
}

.container {
	margin-left: 100px;
}

p {
	color: #000000;
}

.hello {
	display: flex;
	font-size: 48px;
	margin-top: 50px;
}

.name {
	margin-left: 10px;
	color: #e60000;
}

.row-left {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	justify-content: center;
	align-items: center;
}

.bar-chart-component {
	width: 835px;
	height: 320px;
	grid-column: 1 / 4;
	background-color: #fbfbfb;
	border-radius: 5px;
}

.line-chart-component {
	background-color: red;
	border-radius: 5px;
}

.radar-chart-component {
	background-color: black;
	border-radius: 5px;
}

.radial-chart-component {
	position: relative;
	background-color: #fbfbfb;
	border-radius: 5px;
}

.row-right {
	margin-left: 30px;
}

.article {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 258px;
	height: 124px;
	background-color: #fbfbfb;
	margin-bottom: 40px;
}

.grp-article-icon {
	position: relative;
}

.article-icon-calories {
	background-color: #ff0000;
	width: 60px;
	height: 60px;
	border-radius: 6px;
	opacity: 0.3;
}

.article-icon-proteines {
	background-color: #4ab8ff;
	width: 60px;
	height: 60px;
	border-radius: 6px;
	opacity: 0.3;
}

.article-icon-glucides {
	background-color: #f9ce23;
	width: 60px;
	height: 60px;
	border-radius: 6px;
	opacity: 0.3;
}

.article-icon-lipides {
	background-color: #fd5181;
	width: 60px;
	height: 60px;
	border-radius: 6px;
	opacity: 0.3;
}

.img-article {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.article-title {
	font-size: 20px;
	color: #282d30;
	font-weight: bold;
}

.article-content {
	font-size: 14px;
	color: #74798c;
}

.bar-chart-component-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.bar-chart-component-info-title {
	font-weight: bold;
	margin-left: 30px;
}
.bar-chart-component-info-bar-chart {
	display: flex;
}

.poids {
	margin-right: 30px;
}

.calories {
	margin-right: 30px;
}

.oval {
	margin-right: 10px;
}
