.row {
    display: flex;
}

.container {
    margin-left: 100px;
}

p {
    color: #000000;
}

.hello {
    display: flex;
    font-size: 48px;
    margin-top: 50px;
}

.name {
    margin-left: 10px;
    color: #e60000;
}

.row-left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.bar-chart-component {
    width: 835px;
    height: 320px;
    grid-column: 1 / 4;
    background-color: #fbfbfb;
    border-radius: 5px;
}
